  <h1 class="text-center">Dashboard <a href="/jobs/new"><i class="fas fa-plus"></i></a></h1>
  <hr>
      <% @jobs.each do |job| %>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <% if job.applied == true%>
                <span class="badge badge-success">Applied</span>
              <% else %>
                <span class="badge badge-warning">Not Applied</span>
              <% end %>
              <h4><%= job.title %> at <%= job.company %> (<%= job.location %>)</h4>
              <p><%= job.note %></p>
              <form method="POST" action="/jobs/<%=job.slug%>/delete">
                <a href="/jobs/<%=job.slug%>/edit"><button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></button></a>
                <button type="submit" class="btn btn-sm btn-outline-danger" value="delete"><i class="far fa-trash-alt"></i></button>
                <input id="hidden" type="hidden" name="_method" value="delete">
              </form>
              <hr>
            </div>
          </div>
        </div>
      <% end %>