<h4><%=@job.title%> at <%=@job.company%></h4>
<h4><%=@job.location%></h4>
  <form method="POST" action="/jobs/<%=@job.slug%>/edit">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Notes</span>
      </div>
      <textarea class="form-control" aria-label="textarea" name="note" rows="20" autofocus><%=@job.note%></textarea>
    </div>
    <span class="border rounded">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" class="custom-control-input" name="applied" value="true">
        <label class="custom-control-label" for="customRadioInline1">I have applied.</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" class="custom-control-input" name="applied" value="false">
        <label class="custom-control-label" for="customRadioInline2">I have not applied.</label>
      </div>
    </span>
    <br>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="submit" value="Update" class="btn btn-success">
  </form>