<h3>Environment</h3>
<ul>
  <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
  <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
  <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
  <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
</ul>
<hr>
<strong><%= "User Accounts: #{@users.count}"%></strong>
<br>
<strong><%= "Jobs Tracked: #{@jobs.count}"%></strong>
<br>
<% @users.each do |user| %>
<hr>
  Username: <%= "#{user.username} (id: #{user.id})"%>
  <br>
  Email: <%= user.email%>
  <br>
  Role: <%= user.role%>
  <br>
  Jobs being tracked: <%= user.jobs.count %>
  <br>
  <form method="POST" action="/users/<%= user.id %>/update">
    <div class="radio">
      <label>Already applied?</label><br>
      <label><input type="radio" name="user[]role" value="user" checked>User</label>          
      <label><input type="radio" name="user[]role" value="admin">Admin</label>          
    </div>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="submit" value="Update" class="btn btn-success">
  </form>
<% end %>